include /blocks/platform-link/platform-link

mixin release
  .release
    .release__col.release__col--left
      img(
        src=config.coversFolder + release.cover
        alt=release.title
      ).release__cover
    
      iframe(
        src=`https://open.spotify.com/embed/album/${release.spotifyId}`
        width="300"
        height="80"
        allow="encrypted-media"
        class=(release.type && release.type !== 'Single' ? 'release__player--album' : '')
        title="Spotify Player"
      ).release__player

    .release__col.release__col--right
      h1.release__title: no-typography #{ release.title } - #{ release.type || 'Single' }
      .release__links
        +platform-link('spotify')
        +platform-link('apple')
        +platform-link('soundcloud')
        +platform-link('youtube')
        +platform-link('yandex')
        +platform-link('vk')
        +platform-link('boom')
        +platform-link('deezer')

        +platform-link('itunes')
        +platform-link('google')
        +platform-link('bandcamp')
        +platform-link('amazon')
        
        +platform-link('download')