include /svg/vk
include /svg/facebook
include /svg/twitter
include /svg/instagram
include /svg/soundcloud
include /svg/spotify

mixin socials
  .socials
    a(href=site.vk target="_blank" title="VK" rel="noopener").socials__link.socials__link--vk
      +vk
    a(href=site.facebook target="_blank" title="Facebook" rel="noopener").socials__link.socials__link--facebook
      +facebook
    a(href=site.twitter target="_blank" title="Twitter" rel="noopener").socials__link.socials__link--twitter
      +twitter
    a(href=site.instagram target="_blank" title="Instagram" rel="noopener").socials__link.socials__link--instagram
      +instagram
    a(href=site.soundcloud target="_blank" title="Soundcloud" rel="noopener").socials__link.socials__link--soundcloud
      +soundcloud
    a(href=site.spotify target="_blank" title="Spotify" rel="noopener").socials__link.socials__link--spotify
      +spotify