include ../blocks/header/header

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")
    meta(name="theme-color" content="#000000")
    meta(name="description" content=(description || site.description))
    title #{ release ? `${release.title} - ${release.type || 'Single'}` + ' | ' : '' }#{ site.title }
  body
    .bg(
      style=(release ? 
        `background-image: url('${config.coversFolder + release.cover}')` :
        `background-image: url('${config.coversFolder + collections.releases[0].data.release.cover}`)
    )

    .container
      +header

      main
        block content

    script(src="/script.js")