include ../blocks/header/header

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#000000")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="theme-color" content="#141414")

    meta(name="keywords" content=site.keywords)
    meta(name="description" content=(description || (release ? site.releaseDescription : site.description)))
    title #{ release ? `${release.title} - ${release.type || 'Single'}` + ' | ' : '' }#{ site.title }

    link(rel="stylesheet", href="/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")

    meta(property="fb:app_id" content="240736410623658")

    if (release)
      link(rel="preconnect" href="https://i.scdn.co")
      link(rel="preconnect" href="https://open.scdn.co")
      meta(property="og:title" content=`${release.title} - ${release.type || 'Single'}`)
      meta(property="og:description" content=(description || site.releaseDescription))
      meta(property="og:type" content="music.album")
      meta(property="og:url" content=(site.domain + page.url))
      meta(property="og:image" content=(site.domain + config.coversFolder + release.cover))
      meta(property="og:image:width" content="1048")
      meta(property="og:image:height" content="1048")
      meta(property="og:site_name" content="CHVRN")
    else
      meta(property="og:title" content=site.title)
      meta(property="og:description" content=site.description)
      meta(property="og:type" content="profile")
      meta(property="og:url" content=(site.domain + page.url))
      meta(property="og:image" content=(site.domain + 'og.jpg'))
      meta(property="og:image:width" content="1200")
      meta(property="og:image:height" content="630")
      meta(property="og:site_name" content="CHVRN")

    script(type="text/javascript").
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(61812835, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
      });
    noscript
      div: img(src="https://mc.yandex.ru/watch/61812835" style="position:absolute; left:-9999px;" alt="")
    
  body
    .bg(
      style=(release ? 
        `background-image: url('${config.coversFolder + release.cover}')` :
        `background-image: url('${config.coversFolder + collections.releases[0].data.release.cover}')`)
    )

    .container
      +header

      main
        block content

    script(src="/script.js")