mixin picture(path, alt)
  -
    alt = alt || '';
    path2x = path.split('.').join(config.retinaSuffix + '.');

  picture
    source(srcset=`${path}, ${path2x} 1.5x` alt=alt media="(min-width: 768px)")
    img(src=path alt=alt)&attributes(attributes)